.sortable {
	cursor: pointer;
	color: #dd5;
}

.warning {
	background-color: #da8a8a;
}
tr:nth-child(odd) {
	background-color: rebeccapurple
}
  tr:nth-child(even) {
	background-color: hotpink ;
  }
table {
 color: #111;
 border-radius: 5px;
 overflow: hidden;
 margin: 12px 0;
 min-width: 300px;
}

.header-row {
	background: #34495E;
	color: #fff
}

th, td {
	text-align: left;
	margin: 5px 10px;
	padding: 6px;
}
