<table>
    <tr class="header-row">
        <th (click)="sort('name')" class="sortable">Name</th>
        <th (click)="sort('type')" class="sortable">Type</th>
        <th>Operational</th>
        <th>Orbit Type</th>
        <th>Launch Date</th>
    </tr>

    <tr class="data-row" *ngFor="let satellite of satellites">
		<td>{{satellite.name}}</td>
        <td>{{satellite.type}}</td>
        <td>{{satellite.launchDate}}</td>
        <td>{{satellite.orbitType}}</td>
        <td>{{satellite.operational}}</td>
        <!-- fetchedSatellites[i].name, fetchedSatellites[i].type, fetchedSatellites[i].launchDate, fetchedSatellites[i].orbitType, fetchedSatellites[i].operational); -->
    </tr>
</table>


<!-- TODO 2b: use *ngFor to display satellite data in the table -->
<!-- Now, the orbit-list component has access to the fetched satellite data.
 To confirm this, change the orbit-list component html to use it's satellites property.
When you can confirm that orbit-list has access to the satellite data,
 remove the single hard-coded satellite table row and replace it with code using an *ngFor directive
  to loop over all of the fetched satellite objects and display their information. In the new report 
  table, each row represents a different satellite. -->

  <!-- TODO 3b: add style directive to conditionally highlight satellite type -->
